@model OnlineBookStoreUser.Models.Customers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<!-- register -->

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">

            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a asp-controller="Customers" asp-action="Profile" asp-route-id="@Model.CustomerId">Profile</a></li>
                    <li class="list-group-item"><a asp-controller="Customers" asp-action="ResetAddress">Reset Address</a></li>
                    <li class="list-group-item"><a asp-controller="Customers" asp-action="Repository">Order</a></li>
                    <li class="list-group-item"><a asp-controller="Customers" asp-action="Repository">Purchased E-Book Repository</a></li>
                    <li class="list-group-item"><a asp-controller="Cart" asp-action="Index">Cart</a></li>
                    <li class="list-group-item"><a asp-controller="Customers" asp-action="ResetPassword">Reset Password</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-4 shadow-sm">


            <div class="card" align="justify" style="width: 800px;float:right">

                <div class="card-body">



                </div><form asp-controller="Customers" asp-action="Edit">
                    <ul class="list-group list-group-flush">
                        @Html.HiddenFor(model => model.CustomerId)
                        @Html.HiddenFor(model => model.UserName)
                        @Html.HiddenFor(model => model.OldPassword)
                        @Html.HiddenFor(model => model.NewPassword)
                        @Html.HiddenFor(model => model.Address)
                        @Html.HiddenFor(model => model.ZipCode)
                        @Html.HiddenFor(model => model.ShippingAddress)
                        <li class="list-group-item">First Name :  <input type="text" asp-for="FirstName" class="form-control" /></li>
                        <li class="list-group-item">Last Name : <input type="text" asp-for="LastName" class="form-control" /></li>
                        <li class="list-group-item">Email : <input type="text" asp-for="Email" class="form-control" /></li>
                        <li class="list-group-item">Contact : <input type="text" asp-for="Contact" class="form-control" /></li>
                    </ul>


                    <input type="submit" value="Edit" class="btn btn-primary" />
                </form>

            </div>
        </div>

    </div>

</div>

